@use "tailwindcss";

:root {
  color-scheme: dark;
}

@theme {
  --color-tn1: #eb0e21;
  --color-tn2: #8318fd;

  --color-bg1: #0f0f11;
  --color-bg2: #19191d;
  --color-bg3: #232125;

  --color-fn1: #ffffff;
  --color-fn2: #ccc9cf;
  --color-fnA: #ffffff;

  --grad-tn: linear-gradient(90deg, red, blue);

  --font-title: "Libre Baskerville", serif;
  --font-body: "Work Sans", sans-serif;
  --font-accent: "Pacifico", cursive;
}

.scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }
}
